body {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    background-color: #555;
    box-sizing: border-box;
}

#controls {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 20px; 
    margin: 0;
}

button {
    color: #555;
    background-color: #ddd;
    border-radius: 20%;
    padding: 5px;
    border: none;
    font-size: 18px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ddd;
    text-align: center;
    margin: 0;
}

#container {
    background-color: white;
    border: double 30px #ddd;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 960px;
    height: 90vh;
    margin: auto;
    /* Make the container responsive */
    flex: 1 1 auto;
}

.square {
    box-sizing: border-box;
    border: solid 1px #555;
}